<html>

<head>
   
      <%- style %>
      <link rel="stylesheet" href="/css/layout.css">
      <link rel="stylesheet" href="/css/header.css">
      <link rel="stylesheet" href="/css/footer.css">   
      <link rel="stylesheet" href="/css/user_sign_in.css">
      <link rel="stylesheet" href="/css/user_sign_up.css">
      <link rel="stylesheet" href="/css/home.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

      <!-- to unable css to this page -->
</head>

<body>

    <%- include('_header'); %>

   

    <main id="layout-main">
     
      <%- body%>
    </main>
        
    
     <%- include('_footer'); %>

     <%- script %>
     <script>
      <% if(flash.success && flash.success.length > 0) {%>
         new Noty({
             theme : 'relex',
             text : "<%=flash.success%>",
             type : "success",
             layout :"topRight",
             timeout : 2000
         }).show();
     <% } %>

     <% if(flash.error && flash.error.length > 0) {%>
         new Noty({
             theme : 'relex',
             text : "<%=flash.success%>",
             type : "error",
             layout :"topRight",
             timeout : 2000
         }).show();
     <% } %>
 </script>
</body>

</html>