<html>

<head>
   
    <!-- <style>
        body {
          background-color: #f2f2f2;
          font-family: Arial, sans-serif;
        }
        h1 {
          color: blue;
          font-size: 2em;
        }
      </style> -->
      <%- style %>   
      <!-- to unable css to this page -->
</head>


<body>

    <%- include('_header'); %>

        <%- body%>

     <%- include('_footer'); %>

     <%- script %>
</body>

</html>